@import "./fonts.css";
:root {
  /*colours*/
  --main-color: #323264;
  --main-color-alt: #46466E;
  --main-black: #000000;
  --main-white: #e6e6f0;
  --main-soft: #686887;
  --gray-bg: #F5F5FA;
  --gray-text: #B3B3BA;
  --gray-BgAlt: #EDEDF7;
  --grey-separator: #E6E6F0;
  --blue-main: #24A3FF;
  --blue-hover: #0085FF;
  --blue-active: #006CCF;
  --pink-accent: #F0145A;
  --white: #FFFFFF;
  /*gradients*/
  --gradient-Regular: linear-gradient(128.63deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
  --gradient-Soft: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
  --gradient-Red: linear-gradient(121.42deg, #F0145A 30.65%, #693264 107.33%);
  --gradient-SuperSoft: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  --gradient-RedText: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  --gradient-Shade: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%);
  --gradient-LightShade: linear-gradient(180deg, rgba(245, 245, 250, 0) 0%, #F5F5FA 86.5%) ;
}

html {
  font-family: "TT Norms", sans-serif;
  overflow-x: hidden;
}
html .HeroTextGradient {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  background: var(--gradient-RedText);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  word-wrap: break-word;
}
html .Paragraph-Min {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
html .TitleAll {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  word-wrap: break-word;
}
html .contacts-Address {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  align-content: center;
}
html .contacts-phone-number {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  align-content: center;
  letter-spacing: 0.5px;
}
html .contacts-email {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  align-content: center;
}
html .watermark {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  align-content: center;
  color: var(--gray-text);
  letter-spacing: 0.25px;
}
html .icon-arrow-down-scroll-white {
  border: solid var(--main-white);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(45deg);
}
html .icon-arrow-right-scroll-white {
  border: solid var(--main-white);
  border-width: 0 3px 3px 0;
  padding: 3px;
  transform: rotate(-45deg);
  margin-left: 4px;
}
html .icon-arrow-right-scroll-blue {
  border: solid var(--blue-main);
  border-width: 0 3px 3px 0;
  padding: 3px;
  transform: rotate(-45deg);
  margin-left: 4px;
}
html .dot-separator {
  width: 6px;
  height: 6px;
  background: #B3B3BA;
  border-radius: 50px;
  align-content: center;
}
html .border-separator {
  background: var(--grey-separator);
  height: 4px;
  margin: 0 auto;
}
html h1 {
  font-size: 38px;
  line-height: 45px;
  color: var(--main-color);
}
html h2 {
  font-size: 32px;
  line-height: 38px;
  color: var(--main-color);
}
html h3 {
  font-size: 18px;
  line-height: 21px;
  color: var(--main-color);
}
html h4 {
  font-size: 16px;
  line-height: 19px;
  color: var(--main-color);
}
html h5 {
  font-size: 14px;
  line-height: 17px;
  color: var(--main-color);
}
html h6 {
  font-size: 12px;
  line-height: 14px;
  color: var(--main-color);
}
html p {
  font-size: 16px;
  line-height: 22px;
  color: var(--main-black);
}
html button {
  background: var(--blue-main);
  box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  font-size: 14px;
  line-height: 17px;
  padding: 16px 16px 17px;
  max-width: 250px;
  width: 100%;
  text-align: center;
  color: var(--main-white);
  transition: all 0.3s;
}
html button:hover {
  background: var(--blue-hover);
  box-shadow: 0 0 30px rgba(36, 163, 255, 0.5);
}
html button:active {
  box-shadow: none;
  background: var(--blue-active);
}

@media (min-width: 346px) {
  html .HeroTextGradient {
    font-size: 32px;
    line-height: 38px;
  }
  html .Paragraph-Min {
    font-size: 16px;
    line-height: 22px;
  }
  html h1 {
    font-size: 38px;
    line-height: 45px;
    color: var(--main-color);
  }
  html h2 {
    font-size: 32px;
    line-height: 38px;
    color: var(--main-color);
  }
  html h3 {
    font-size: 18px;
    line-height: 21px;
    color: var(--main-color);
  }
  html h4 {
    font-size: 18px;
    line-height: 21px;
    color: var(--main-color);
  }
  html h5 {
    font-size: 14px;
    line-height: 17px;
    color: var(--main-color);
  }
  html h6 {
    font-size: 12px;
    line-height: 14px;
    color: var(--main-color);
  }
  html p {
    font-size: 16px;
    line-height: 22px;
    color: var(--main-black);
  }
}
@media (min-width: 769px) {
  html .HeroTextGradient {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
  }
}
@media (min-width: 660px) {
  html .HeroTextGradient {
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
  }
  html h1 {
    font-size: 38px;
    line-height: 45px;
  }
  html h2 {
    font-size: 32px;
    line-height: 38px;
  }
  html h3 {
    font-size: 24px;
    line-height: 28px;
  }
  html h4 {
    font-size: 18px;
    line-height: 21px;
  }
  html h5 {
    font-size: 14px;
    line-height: 17px;
  }
  html h6 {
    font-size: 12px;
    line-height: 14px;
  }
  html p {
    font-size: 18px;
    line-height: 26px;
  }
}

/*# sourceMappingURL=common.css.map */
