@import "common.css";
header .header-desktop {
  display: none;
}
header .header-mobile {
  margin: 0 auto;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
header .header-mobile .header__contacts-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-mobile .header__contacts-mobile .contacts-mobile__cng-lang {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .header-mobile .header__contacts-mobile .contacts-mobile__cng-lang .btn-mobile a {
  cursor: pointer;
  padding: 5px 6px;
  border-radius: 8px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  color: var(--white);
}
header .header-mobile .header__contacts-mobile .contacts-mobile__cng-lang .btn-mobile a:hover {
  color: var(--gray-text);
  background-color: var(--gray-BgAlt);
  border-radius: 8px;
  transition: all 0.2s ease-out;
}
header .header-mobile .header__contacts-mobile .contacts-mobile__cng-lang .active a {
  background-color: var(--pink-accent);
  border-radius: 8px;
  transition: all 0.2s ease-out;
}
header .header-mobile .header__contacts-mobile .contacts-phone-number {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: var(--white);
}
header .header-mobile .header__nav-links-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
}
header .header-mobile .header__nav-links-mobile a img {
  max-width: 205px;
  width: 100%;
}
header .header-mobile .header__nav-links-mobile .m-menu__checkbox {
  display: none;
}
header .header-mobile .header__nav-links-mobile .m-menu__checkbox:checked ~ .m-menu {
  transform: translate3d(0, 0, 0);
  transition: all 0.45s ease-out;
}
header .header-mobile .header__nav-links-mobile label.m-menu__toggle {
  cursor: pointer;
}
header .header-mobile .header__nav-links-mobile .m-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translate3d(-101%, 0, 0);
  transition: transform 0.45s ease-in-out;
  z-index: 1;
  overflow: hidden;
  background-color: var(--main-white);
}
header .header-mobile .header__nav-links-mobile .m-menu .m-menu__open-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px 15px 20px;
}
header .header-mobile .header__nav-links-mobile .m-menu .m-menu__open-header a {
  margin-left: 50%;
  transform: translateX(-50%);
}
header .header-mobile .header__nav-links-mobile .m-menu .m-menu__open-header label.m-menu__toggle {
  cursor: pointer;
}
header .header-mobile .header__nav-links-mobile .m-menu li h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: var(--blue-main);
}
header .header-mobile .header__nav-links-mobile .m-menu li h4:hover {
  color: var(--pink-accent);
  transition: all 0.2s ease-out;
}
header .header-mobile .header__nav-links-mobile .m-menu li h4 label {
  background: #F5F5FA;
  cursor: pointer;
  border: 2px solid var(--main-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 11px 20px 15px;
}

.services {
  background: center/cover no-repeat var(--gradient-SuperSoft);
  border-radius: 0 0 12px 12px;
  padding: 83px 20px 20px 20px;
  margin: -104px auto 0;
  position: relative;
  z-index: 1;
}
.services::after {
  content: "";
  display: inline-block;
  background: var(--grey-separator);
  position: absolute;
  width: calc(100% - 40px);
  height: 10px;
  background: #CACADB;
  border-radius: 0 0 12px 12px;
  margin-top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.services .services__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  max-width: 335px;
  width: 100%;
  margin: 43px auto 0 auto;
}
.services .services__header .HeroTextGradient {
  margin-top: 3px;
  margin-bottom: 20px;
  max-width: 335px;
  width: 100%;
}
.services .services__container {
  max-width: 335px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-row-gap: 40px;
  justify-content: center;
  align-items: start;
  grid-template-columns: repeat(auto-fit, 335px);
}
.services .services__container .services__cards {
  max-width: 335px;
  width: 100%;
}
.services .services__container .services__cards .cards-header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.services .services__container .services__cards .cards-header img {
  max-width: 64px;
  width: 100%;
}
.services .services__container .services__cards .cards-header h3 {
  font-weight: 400;
  color: var(--blue-main);
  letter-spacing: 0.15px;
  max-width: 413px;
  width: 100%;
}
.services .services__container .services__cards .cards-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--main-white);
  max-width: 335px;
  width: 100%;
  margin-top: 10px;
}

.cases {
  padding: 39px 20px 0 20px;
}
.cases::before {
  content: "";
  display: inline-block;
  background: var(--grey-separator);
  position: absolute;
  width: calc(100% - 80px);
  height: 10px;
  background: #E7E7F2;
  border-radius: 0 0 12px 12px;
  margin-top: -29px;
  left: 50%;
  transform: translateX(-50%);
}
.cases .cases__cards {
  max-width: 335px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 335px;
  grid-template-rows: 57px 140px 140px 140px 140px 118px 140px;
}
.cases .cases__cards .cases-card1, .cases .cases__cards .cases-card2, .cases .cases__cards .cases-card3,
.cases .cases__cards .cases-card4, .cases .cases__cards .cases-card5, .cases .cases__cards .cases-card6,
.cases .cases__cards .cases-card7 {
  background: #F5F5FA;
  border: 1px solid #FFFFFF;
}
.cases .cases__cards h3 {
  font-weight: 400;
  text-align: start;
  word-wrap: break-word;
  color: var(--main-soft);
}
.cases .cases__cards p {
  font-weight: 400;
  text-align: start;
  word-wrap: break-word;
  color: var(--gray-text);
  margin-top: 10px;
  margin-left: 1px;
}
.cases .cases__cards .cases-card1 {
  border-radius: 12px 12px 0 0;
  max-width: 335px;
  width: 100%;
  max-height: 57px;
  height: 100%;
  padding: 20px 170px 20px 20px;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}
.cases .cases__cards .cases-card1 .TitleAll {
  color: var(--pink-accent);
}
.cases .cases__cards .cases-card2 {
  max-width: 335px;
  width: 100%;
  max-height: 140px;
  height: 100%;
  padding: 20px 20px 20px 20px;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}
.cases .cases__cards .cases-card3 {
  max-width: 335px;
  width: 100%;
  max-height: 140px;
  height: 100%;
  padding: 20px 20px 20px 20px;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}
.cases .cases__cards .cases-card4 {
  max-width: 335px;
  width: 100%;
  max-height: 140px;
  height: 100%;
  padding: 20px 20px 20px 20px;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
}
.cases .cases__cards .cases-card5 {
  max-width: 335px;
  width: 100%;
  max-height: 140px;
  height: 100%;
  padding: 20px 20px 20px 20px;
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 2;
}
.cases .cases__cards .cases-card5 h3 {
  max-width: 260px;
  width: 100%;
}
.cases .cases__cards .cases-card6 {
  max-width: 335px;
  width: 100%;
  max-height: 118px;
  height: 100%;
  padding: 20px 20px 20px 20px;
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: 2;
}
.cases .cases__cards .cases-card7 {
  border-radius: 0 0 12px 12px;
  max-width: 335px;
  width: 100%;
  max-height: 140px;
  height: 100%;
  padding: 20px 20px 20px 20px;
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 1;
  grid-column-end: 2;
}

.ours-clients {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.ours-clients .TitleAll {
  color: var(--main-color);
  padding: 31px 10px 30px 10px;
}
.ours-clients .ours-clients__content {
  max-width: 376px;
  width: 100%;
  padding: 0;
  display: grid;
  grid-gap: 0;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, 187px);
}
.ours-clients .ours-clients__content img {
  max-width: 187px;
  width: 100%;
}

footer {
  background: #F5F5FA;
  padding: 22px 20px 118px 20px;
}
footer .footer__info {
  max-width: 335px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
footer .footer__info .first-info-line {
  max-width: 335px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 1;
}
footer .footer__info .first-info-line .contacts-Address {
  color: var(--main-color);
  max-width: 215px;
  width: 100%;
}
footer .footer__info .first-info-line .footer__send-to-map {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--blue-main);
  transition: 0.3ms ease-in-out;
  margin-top: 10px;
}
footer .footer__info .first-info-line .footer__send-to-map:hover {
  color: var(--pink-accent);
}
footer .footer__info .second-info-line {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--gray-text);
  letter-spacing: 0.25px;
  max-width: 335px;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  align-content: center;
  order: 3;
}
footer .footer__info .third-info-line {
  max-width: 335px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  order: 2;
}
footer .footer__info .third-info-line .contacts-icon-Facebook {
  height: 24px;
}
footer .footer__info .third-info-line .contacts-icon-Facebook .contacts-icon-Facebook-hover .contacts-icon-Facebook-hover:nth-of-type(2) {
  display: none;
}
footer .footer__info .third-info-line .contacts-icon-Facebook .contacts-icon-Facebook-hover:hover .contacts-icon-Facebook-hover:nth-of-type(1) {
  display: none;
  transition: all 0.2s ease-out;
}
footer .footer__info .third-info-line .contacts-icon-Facebook .contacts-icon-Facebook-hover:hover .contacts-icon-Facebook-hover:nth-of-type(2) {
  display: block;
  transition: all 0.2s ease-out;
}
footer .footer__info .third-info-line .contacts-icon-Facebook .contacts-icon-Facebook-hover:hover {
  cursor: pointer;
  transition: all 0.2s ease-out;
}
footer .footer__info .third-info-line .contacts-phone-number {
  color: var(--main-color-alt);
  transition: 0.3ms ease-in-out;
  margin-top: 36px;
}
footer .footer__info .third-info-line .contacts-email {
  color: var(--blue-main);
  transition: 0.3ms ease-in-out;
  margin-top: 20px;
}
footer .footer__info .third-info-line .contacts-email:hover {
  color: var(--pink-accent);
}

@media (min-width: 376px) {
  header .header-mobile {
    display: none;
  }
  header .header-desktop {
    position: relative;
    z-index: 7;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1320px;
    width: 100%;
    max-height: 65px;
    height: 100%;
    margin: 50px auto 0;
  }
  header .header-desktop .header__contacts {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
  }
  header .header-desktop .header__contacts #contacts__cng-lang {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
  }
  header .header-desktop .header__contacts #contacts__cng-lang .btn a {
    cursor: pointer;
    padding: 5px 6px;
    border-radius: 8px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    color: var(--main-white);
    transition: all 0.2s ease-out;
  }
  header .header-desktop .header__contacts #contacts__cng-lang .btn a:hover {
    color: var(--gray-text);
    background-color: var(--gray-BgAlt);
    border-radius: 8px;
  }
  header .header-desktop .header__contacts #contacts__cng-lang .active a {
    background-color: var(--pink-accent);
    border-radius: 8px;
    transition: all 0.2s ease-out;
  }
  header .header-desktop .header__contacts .contacts-Address {
    color: var(--main-white);
  }
  header .header-desktop .header__contacts .contacts-Address::after {
    content: "";
    display: inline-block;
    margin: 0 4px 2px 13px;
    width: 6px;
    height: 6px;
    background: var(--grey-separator);
    border-radius: 50px;
  }
  header .header-desktop .header__contacts .contacts-phone-number {
    color: var(--main-white);
  }
  header .header-desktop .header__contacts .contacts-phone-number::after {
    content: "";
    display: inline-block;
    margin: 0 10px 2px 10px;
    width: 6px;
    height: 6px;
    background: var(--grey-separator);
    border-radius: 50px;
  }
  header .header-desktop .header__contacts .contacts-icon-Facebook {
    height: 24px;
  }
  header .header-desktop .header__contacts .contacts-icon-Facebook .contacts-icon-Facebook-hover .contacts-icon-Facebook-hover:nth-of-type(2) {
    display: none;
  }
  header .header-desktop .header__contacts .contacts-icon-Facebook .contacts-icon-Facebook-hover:hover .contacts-icon-Facebook-hover:nth-of-type(1) {
    display: none;
    transition: all 0.2s ease-out;
  }
  header .header-desktop .header__contacts .contacts-icon-Facebook .contacts-icon-Facebook-hover:hover .contacts-icon-Facebook-hover:nth-of-type(2) {
    display: block;
    transition: all 0.2s ease-out;
  }
  header .header-desktop .header__contacts .contacts-icon-Facebook .contacts-icon-Facebook-hover:hover {
    cursor: pointer;
    transition: all 0.2s ease-out;
  }
  header .header-desktop #header__nav-links {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    margin-top: 17px;
    column-gap: 15px;
    margin-bottom: -6px;
  }
  header .header-desktop #header__nav-links .link {
    cursor: pointer;
    font-weight: 400;
    color: var(--main-white);
    border-bottom: none;
    padding-bottom: 2px;
    height: 24px;
  }
  header .header-desktop #header__nav-links .link:hover {
    color: var(--pink-accent);
    transition: all 0.25s;
  }
  header .header-desktop #header__nav-links .actives {
    color: var(--pink-accent);
    transition: all 0.25s;
    border-bottom: solid 2px var(--pink-accent);
  }
  .services {
    margin: -115px auto 0;
    padding: 107px 60px 48px 60px;
  }
  .services::after {
    width: calc(100% - 40px);
    margin-top: 48px;
  }
  .services .services__header {
    flex-direction: column;
    max-width: 1320px;
    margin: 80px auto 0 auto;
  }
  .services .services__header .HeroTextGradient {
    margin-top: 3.5px;
    margin-bottom: 66px;
    max-width: 768px;
  }
  .services .services__container {
    max-width: 1320px;
    grid-row-gap: 59px;
    grid-column-gap: 40px;
    grid-template-columns: repeat(auto-fit, 413px);
  }
  .services .services__container .services__cards {
    max-width: 413px;
  }
  .services .services__container .services__cards .cards-header {
    flex-direction: column;
    align-items: start;
    gap: 19px;
  }
  .services .services__container .services__cards .cards-header img {
    max-width: 92px;
  }
  .services .services__container .services__cards .cards-header h3 {
    max-width: 413px;
  }
  .services .services__container .services__cards .cards-description {
    font-size: 18px;
    line-height: 26px;
    max-width: 413px;
    margin-top: 16px;
  }
  .cases {
    padding: 58px 60px 0 60px;
  }
  .cases::before {
    margin-top: -48px;
    width: calc(100% - 80px);
  }
  .cases .cases__cards {
    max-width: 1320px;
    width: 100%;
    grid-template-columns: 320px 113px 340px 114px 433px;
    grid-template-rows: 57px 198px 198px;
  }
  .cases .cases__cards h3 {
    font-weight: 500;
  }
  .cases .cases__cards p {
    margin-top: 20px;
  }
  .cases .cases__cards .cases-card1 {
    border-radius: 12px 0 0 0;
    max-width: 433px;
    padding: 20px 270px 20px 20px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .cases .cases__cards .cases-card2 {
    max-width: 433px;
    max-height: 198px;
    padding: 48px 20px 20px 20px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .cases .cases__cards .cases-card3 {
    max-width: 454px;
    max-height: 255px;
    padding: 105px 20px 20px 20px;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 5;
  }
  .cases .cases__cards .cases-card4 {
    border-radius: 0 12px 0 0;
    max-width: 433px;
    max-height: 255px;
    padding: 105px 20px 20px 20px;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 5;
    grid-column-end: 6;
  }
  .cases .cases__cards .cases-card5 {
    border-radius: 0 0 0 12px;
    max-width: 320px;
    max-height: 198px;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .cases .cases__cards .cases-card6 {
    max-width: 453px;
    max-height: 198px;
    padding: 76px 20px 20px 20px;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
  }
  .cases .cases__cards .cases-card7 {
    border-radius: 0 0 12px;
    max-width: 547px;
    max-height: 198px;
    padding: 76px 20px 20px 20px;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 6;
  }
  .ours-clients .ours-clients__content {
    max-width: 1440px;
    grid-template-columns: repeat(auto-fit, minmax(187px, 360px));
  }
  .ours-clients .ours-clients__content img {
    max-width: 360px;
    min-width: 187px;
    width: 100%;
  }
  footer {
    padding: 31px 60px 40px 60px;
  }
  footer .footer__info {
    max-width: 1320px;
    flex-direction: row;
  }
  footer .footer__info .first-info-line {
    max-width: 660px;
    flex-direction: row;
    justify-content: start;
  }
  footer .footer__info .first-info-line .contacts-Address {
    max-width: 260px;
  }
  footer .footer__info .first-info-line .contacts-Address::after {
    content: "";
    display: inline-block;
    margin: 0 11px 2px 31px;
    width: 6px;
    height: 6px;
    background: #B3B3BA;
    border-radius: 50px;
  }
  footer .footer__info .first-info-line .footer__send-to-map {
    margin-top: 3px;
  }
  footer .footer__info .second-info-line {
    max-width: 660px;
    margin-top: 0;
    text-align: end;
    order: 2;
  }
  footer .footer__info .third-info-line {
    max-width: 660px;
    flex-direction: row;
    justify-content: start;
    margin-top: 20px;
    order: 3;
  }
  footer .footer__info .third-info-line .contacts-icon-Facebook {
    height: 24px;
  }
  footer .footer__info .third-info-line .contacts-icon-Facebook .contacts-icon-Facebook-hover .contacts-icon-Facebook-hover:nth-of-type(2) {
    display: none;
  }
  footer .footer__info .third-info-line .contacts-icon-Facebook .contacts-icon-Facebook-hover:hover .contacts-icon-Facebook-hover:nth-of-type(1) {
    display: none;
    transition: all 0.2s ease-out;
  }
  footer .footer__info .third-info-line .contacts-icon-Facebook .contacts-icon-Facebook-hover:hover .contacts-icon-Facebook-hover:nth-of-type(2) {
    display: block;
    transition: all 0.2s ease-out;
  }
  footer .footer__info .third-info-line .contacts-icon-Facebook .contacts-icon-Facebook-hover:hover {
    cursor: pointer;
    transition: all 0.2s ease-out;
  }
  footer .footer__info .third-info-line .contacts-phone-number {
    margin-top: 12px;
  }
  footer .footer__info .third-info-line .contacts-phone-number::before {
    content: "";
    display: inline-block;
    margin: 0 3px 2px 10px;
    width: 6px;
    height: 6px;
    background: #B3B3BA;
    border-radius: 50px;
  }
  footer .footer__info .third-info-line .contacts-phone-number::after {
    content: "";
    display: inline-block;
    margin: 0 12px 2px 11px;
    width: 6px;
    height: 6px;
    background: #B3B3BA;
    border-radius: 50px;
  }
  footer .footer__info .third-info-line .contacts-email {
    margin-top: 12px;
  }
}

/*# sourceMappingURL=services.css.map */
